{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col" style="margin: 2vh">
                <div class="card text-center" style="width: 18rem">
                    <img class="card-img-top" src="{{ product.image_url }}" alt="Card image cap">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="py-3">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">${{ product.price }}</p>
                        </div>
                        <a href="#" class="btn btn-success">Add to cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
